@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You Got Jokes?</h1>
    <p>The foremost authority for good hunor that you will find anywhere on your local host.</p>
</div>
